body{
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: sans-serif;
}
div{
  border: solid white;
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  height: 100px;
  width: 100px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
img {
  padding-top: 20px;
  height: 50px;
  width: 50px;
}
button{
  width: 100px;
  height: 30px;
  font-size: 15px;
}